@model ToyStoryApplication.Models.Franchise

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3 class="text-danger">Delete @Model.Name Franchise?</h3>
    <dl class="dl-horizontal" style="margin-top:30px">
        <div class="logo-div">
            <dd>
                <img src="@Url.Content(Model.Logo)" width="200" height="200" />
            </dd>
        </div>
        <div class="details-div">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Origin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Origin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstAppearance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstAppearance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Count)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Count)
            </dd>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="margin-top:10px">
                    <input type="submit" value="Delete" class="btn btn-primary btn-sm deleteButton" />
                    @Html.ActionLink(
                        "Back",
                        "Index",
                        new { },
                        new {
                            @class = "btn btn-primary btn-sm backButton",
                        }
                    )

                </div>
            </div>
        </div>
    </dl>
}
