@model ToyStoryApplication.Models.Franchise

@{
    ViewBag.Title = "Delete";
}
<h4 class="yellow-text">Are you sure you want to delete @Model.Name ?</h4>
<div>
    <dl class="dl-horizontal yellow-text">
        <div class="logo-div">
            <dd>
                <img src="@Url.Content(Model.Logo)" width="200" height="200" />
            </dd>
        </div>
        <div class="details-div">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Origin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Origin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstAppearance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstAppearance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Count)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Count)
            </dd>
        </div>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
