@model ToyStoryApplication.Models.Franchise

@{
    ViewBag.Title = "Details";
}
<h3 class="text-primary">@Model.Name Franchise Details</h3>
<br />
<dl class="container centre-container">
    <div class="row">
        <div class="col-xs-12 col-md-2 col-sm-3 logo-media">
            <img src="@Url.Content(Model.Logo)" width="200" height="200" />
        </div>

        <div class="col-xs-12 col-md-4 col-sm-9 details-div details-media dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Origin)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Origin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstAppearance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstAppearance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Count)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Count)
            </dd>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-12 video-link">
            <iframe width="336" height="189" src=@Url.Content(Model.VideoLink) frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
</dl>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm editButton" })
    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-primary btn-sm backButton", @style="float:left" })
</p>
